{% extends 'recipes/layout.html' %}
{% block content %}
    <h1>Recipes</h1>
    <p>Main page</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur minus inventore hic, voluptates voluptate odio nobis, magnam dolores est obcaecati, quisquam at omnis. Veritatis distinctio aliquid molestiae explicabo sed vitae, obcaecati velit praesentium cupiditate culpa, nemo nesciunt doloribus similique omnis, vel repellat consectetur voluptatibus porro mollitia. Architecto dicta autem pariatur.</p>

    {% for i in recipe %}
    <h2>{{ i.title }}</h2>
    <h3>{{ i.body }}</h3>
    {% endfor %}

{% endblock content %}